@import "tailwindcss";

@theme {
  --color-brand-900: #0f172a;
  --color-brand-800: #1e293b;
  --color-brand-700: #334155;
  --color-brand-600: #475569;
  --color-brand-500: #10b981;
  --color-brand-400: #34d399;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-200;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}